# node modules
node_modules

# compiled files
packages/
client_packages/

# test coverage
coverage/

# log files
logs/

# environment variables, never commit this file
.env

# ragemp files and folders
bt.dat
node.dll
server.exe
conf.json
/bridge
/plugins

# lock files
package-lock.json